---

layout: content
title: Page patterns
description: A collection of page designs outlining how different page types should look and function.

---


<div class="row">

    {% include showing-number.html
        tile-type="page patterns"
    %}
    
</div>

<div class="row">
    
    <!-- Category -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Category page" 
        tile-text="A page pattern for navigation to business topic pages." 
        tile-image="assets/nav-images/nav-tile-categorypage.svg" 
    %}
    
    <!-- Topic -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Topic page" 
        tile-text="A page pattern for navigation to pages under a business topic." 
        tile-image="assets/nav-images/nav-tile-topicpage.svg" 
    %}
    
    <!-- Guide -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Guide page" 
        tile-text="A navigation pattern that pulls together information from different areas of the site." 
        tile-image="assets/nav-images/nav-tile-guidepage.svg" 
    %}
    
    <!-- Transaction Action -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Transaction action page" 
        tile-text="A page that provides the user with enough information to complete a single transaction-based task confidently and quickly." 
        tile-image="assets/nav-images/nav-tile-transactionactionpage.svg" 
    %}
    
    <!-- 101 -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="101 page" 
        tile-text="A single page that provides simple facts to help a user understand the basics of a business topic." 
        tile-image="assets/nav-images/nav-tile-101page.svg" 
    %}
    
    <!-- Tutorial -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Tutorial page" 
        tile-text="Provides the user with steps and actionable guidance to help them complete a more complicated task or understand a more complicated topic." 
        tile-image="assets/nav-images/nav-tile-tutorialpage.svg" 
    %}
    
    <!-- Resource Article -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Resource article page" 
        tile-text="A short, sharp page styled like an article that helps a user with a quick, simple topic or task." 
        tile-image="assets/nav-images/nav-tile-resourcearticle.svg" 
    %}
    
    <!-- Internal grants landing -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Internal grants landing page" 
        tile-text="A single page providing information about grant amounts, eligibility, the application process and key documents." 
        tile-image="assets/nav-images/nav-tile-internalgrantslandingpage.svg" 
    %}
    
    <!-- External grants landing -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="External grants landing page" 
        tile-text="A single information page for external grants." 
        tile-image="assets/nav-images/nav-tile-externalgrantslandingpage.svg" 
    %}
    
    <!-- Grant recipients -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Grant recipients page" 
        tile-text="A single page listing successful grant recipients, usually in table form." 
        tile-image="assets/nav-images/nav-tile-grantrecipientspage.svg" 
    %}
    
    <!-- Customer stories landing -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Customer stories landing page" 
        tile-text="A landing page for all of a program's customer stories." 
        tile-image="assets/nav-images/nav-tile-customerstorieslandingpage.svg" 
    %}
    
    <!-- Customer story (single) -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Customer story (single) page" 
        tile-text="An article page about how successful grant recipients have used their grant to improve their business." 
        tile-image="assets/nav-images/nav-tile-customerstorypage.svg" 
    %}
    
    <!-- Adviser detail -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Adviser detail page" 
        tile-text="A single page detailing one advisor." 
        tile-image="assets/nav-images/nav-tile-adviserdetailpage.svg" 
    %}
    
    <!-- Event page -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Event page" 
        tile-text="A single page detailing an event." 
        tile-image="assets/nav-images/nav-tile-eventpage.svg" 
    %}
    
</div>