---

layout: content
title: Tool patterns
description: A collection of patterns used for creating interactive tools.

---

<div class="row">

    {% include showing-number.html
        tile-type="tool patterns"
    %}
    
</div>

<div class="row">
    
    <!-- Patterns to collect information -->
    <!-- Tile filters -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Tile filters" 
        tile-text="A pattern for filtering a list of information or result tiles." 
        tile-image="assets/nav-images/nav-tile-tilefilters.svg" 
    %}
    
    <!-- Tile filters with guided search questions -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Tile filters with guided search questions" 
        tile-text="A pattern providing two pathways for searching through result tiles." 
        tile-image="assets/nav-images/nav-tile-tilefilterswithguidedquestions.svg" 
    %}
    
    <!-- Stepped question and answer tools -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Stepped question and answer tools" 
        tile-text="Patterns for stepping users through a series of questions." 
        tile-image="assets/nav-images/nav-tile-steppedquestionandanswer.svg" 
    %}
    
    <!-- Standard checklist -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Standard checklist" 
        tile-text="An interactive checklist pattern for presenting an end to end journey in logical steps. Allows the user to save their progress." 
        tile-image="assets/nav-images/nav-tile-standardchecklist.svg" 
    %}
    
    <!-- Lightweight checklist -->
    {% include nav-image-tile.html 
        classes="col-12 col-sm-6 col-lg-4 mb-5 nav-tile-wrapper coming-soon"
        tile-title="Lightweight checklist" 
        tile-text="A checklist pattern for presenting simple end to end journeys." 
        tile-image="assets/nav-images/nav-tile-lightweightchecklist.svg" 
    %}
    
    
    
</div>