<a href="" tabindex="0" class="bga-component hero-pathway mt-0 mx-0 mb-5 {{ include.hero-classes }}">

    <div class="p-4 component-content">

        <div class="component-text p-0">
            <h3 class="tile-title pt-0">Hero pathway heading Lorem ipsum dolor sit amet</h3>
            <p class="mb-5">Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem.</p>
        </div>


         <div class="icon-wrapper">
             <div class="arrow-icon">
                 <img src={{ "assets/icon-arrow-right-black.svg" | relative_url }} alt="" />
             </div>
             <div class="external-site pe-4 remove-element-padding">
                 <p>{{ include.external-link }}</p>
             </div>
         </div>

         </div>

    <div class="component-image">
        <img src={{ include.hero-image }}  alt="" />
    </div>
    

</a>