<a href="" tabindex="0" class="bga-component standard-pathway mt-0 mx-0 mb-5">

    <div class="p-4 component-content">

        <div class="component-text p-0">
            <h3 class="tile-title pt-0">Standard pathway tile title</h3>
            <p class="mb-4">Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem.</p>
        </div>

        <div class="arrow-icon">
            <img src={{ "assets/icon-arrow-right-white.svg" | relative_url }} alt="" />
        </div>

    </div>

</a>