<div class="foundation-wrapper p-4">
    
    <div class="foundation-rules">
        <ul>
            <li><strong>Font</strong> - {{include.font}}</li>
            <li><strong>Font size</strong> - {{include.fontsize}}</li>
            <li><strong>Colour</strong> - {{include.colour}}</li>
            <li><strong>Line height</strong> -  {{include.lineheight}}</li>
            <li><strong>Letter spacing</strong> - {{include.letterspacing}}</li>
        </ul>
    </div>
    
    <div class="foundation-rules mobile">
        <ul>
            <li><strong>Font</strong> - {{include.mobilefont}}</li>
            <li><strong>Font size</strong> - {{include.mobilefontsize}}</li>
            <li><strong>Colour</strong> - {{include.mobilecolour}}</li>
            <li><strong>Line height</strong> -  {{include.mobilelineheight}}</li>
            <li><strong>Letter spacing</strong> - {{include.mobileletterspacing}}</li>
        </ul>
    </div>
    
    <div class="example ms-4">
        {{ include.text-example}}
    </div>
    
</div>