<div class="anchor-menu remove-element-padding mt-0 mb-2 p-0">
 
    <h5 class="mb-3">On this page</h5>
    
    <ul id="anchor-menu" class="p-0">
        <li class="mb-3"><a tabindex="0" href="{{ include.link-id-1 }}">{{ include.link-1 }}</a></li>
        <li class="mb-3"><a tabindex="0" href="{{ include.link-id-2 }}">{{ include.link-2 }}</a></li>
        <li class="mb-3"><a tabindex="0" href="{{ include.link-id-3 }}">{{ include.link-3 }}</a></li>
        <li class="mb-3"><a tabindex="0" href="{{ include.link-id-4 }}">{{ include.link-4 }}</a></li>
        <li class="mb-3"><a tabindex="0" href="{{ include.link-id-5 }}">{{ include.link-5 }}</a></li>
        <li class="mb-3"><a tabindex="0" href="{{ include.link-id-6 }}">{{ include.link-6 }}</a></li>
    </ul>

</div>