<div id="breadcrumbs">
    <div class="container">
        <div class="row">

            <div class="col">

                <ul class="m-0 py-2 px-0">
                    <li class="breadcrumb-link breadcrumb-home">
                        <a tabindex=0 href={{ "index.html" | relative_url }} class="breadcrumb-link">Home</a>
                    </li>

                    <li class="breadcrumb-link">
                        <a tabindex=0 href="{{ page.url1 | relative_url }}" class="breadcrumb-link">{{ page.breadcrumb1 }}</a>
                    </li>
                    
                     <li class="breadcrumb-link">
                        <a tabindex=0 href="{{ page.url2 | relative_url }}" class="breadcrumb-link">{{ page.breadcrumb2 }}</a>
                    </li>

                    <li class="breadcrumb-current">
                        <p class="breadcrumb-location m-0 p-0 h-100">{{ page.title }}</p>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>