
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-10 col-xl-8 remove-element-padding py-5">
                    <h2>Contact Us</h2>
                    <p>This design system is for business.gov.au digital products only.
                        Please email <a href="mailto:steph.grant@industry.gov.au">steph.grant@industry.gov.au</a> if you need approval to use this system.</p>
                </div>
            </div>
        </div>
    </div>


    <div id="indigenous-footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-lg-10 col-xl-8 remove-element-padding pt-5 pb-6">
                    <p>We recognise the First Peoples of this nation and their ongoing connection to culture and country. We acknowledge First Nations Peoples as the Traditional Owners, Custodians and Lore Keepers of the world's oldest living culture and pay respects to their Elders past, present and emerging.</p>
                    <p>© Commonwealth of Australia.</p>
                </div>
            </div>
        </div>
    </div>
