<button class="accordion-toggle pt-4 pb-0 px-0">Open all</button>
<div class="accordion layout-accordion">
                
                <div class="accordion-item {{ include.min1200-visibility }}">
                    <h2 class="accordion-header pt-0" id="layout-bp-min1200">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.layout-name=}}-collapseOne" aria-expanded="true" aria-controls="{{include.layout-name=}}-collapseOne">
                           Breakpoint ≥1200px
                        </button>
                    </h2>
                    <div id="{{include.layout-name=}}-collapseOne" class="accordion-collapse collapse show" aria-labelledby="layout-bp-min1200" >
                        <div class="accordion-body">
                            <div class="layout-image me-5">
                            <img src={{include.min1200-img}} alt="" />
                                
                            </div>
                            
                            <div class="layout-rules">
                                {{include.min1200-rules}}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item {{ include.min992-visibility }} ">
                    <h2 class="accordion-header pt-0" id="layout-bp-min992">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.layout-name=}}-collapseTwo" aria-expanded="false" aria-controls="{{include.layout-name=}}-collapseTwo">
                            Breakpoint ≥992px
                        </button>
                    </h2>
                    <div id="{{include.layout-name=}}-collapseTwo" class="accordion-collapse collapse" aria-labelledby="layout-bp-min992" >
                        <div class="accordion-body">
                            <div class="layout-image me-5">
                             <img src={{include.min992-img}} alt="" />
                            </div>
                            
                            <div class="layout-rules">
                                {{include.min992-rules}}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item {{ include.min768-visibility }}">
                    <h2 class="accordion-header pt-0" id="layout-bp-min768">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.layout-name=}}-collapseThree" aria-expanded="false" aria-controls="{{include.layout-name=}}-collapseThree">
                            Breakpoint ≥768px
                        </button>
                    </h2>
                    <div id="{{include.layout-name=}}-collapseThree" class="accordion-collapse collapse" aria-labelledby="layout-bp-min768" data-bs-parent="#layout-accordion">
                        <div class="accordion-body">
                            <div class="layout-image me-5">
                            <img src={{include.min768-img}} alt="" />
                            </div>
                            
                            <div class="layout-rules">
                                {{include.min768-rules}}
                            </div>
                        </div>
                    </div>
      
                </div>
                
                 <div class="accordion-item {{ include.min576-visibility }}">
                    <h2 class="accordion-header pt-0" id="layout-bp-min576">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.layout-name=}}-collapseFour" aria-expanded="false" aria-controls="{{include.layout-name=}}-collapseFour">
                            Breakpoint ≥576px
                        </button>
                    </h2>
                    <div id="{{include.layout-name=}}-collapseFour" class="accordion-collapse collapse" aria-labelledby="layout-bp-min576" >
                        <div class="accordion-body">
                            <div class="layout-image me-5">
                            <img src={{include.min576-img}} alt="" />
                            </div>
                            
                            <div class="layout-rules">
                                {{include.min576-rules}}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item {{ include.finalbp-visibility }}">
                    <h2 class="accordion-header pt-0" id="layout-bp-mobile">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.layout-name=}}-collapseFive" aria-expanded="false" aria-controls="{{include.layout-name=}}-collapseFive">
                            {{ include.finalbp }}
                        </button>
                    </h2>
                    <div id="{{include.layout-name=}}-collapseFive" class="accordion-collapse collapse" aria-labelledby="layout-bp-mobile" >
                        <div class="accordion-body">
                            <div class="layout-image me-5">
                            <img src={{include.finalbp-img}} alt="" />
                            </div>
                            
                            <div class="layout-rules">
                               {{include.finalbp-rules}}
                            </div>
                        </div>
                    </div>
      
                </div>

                
                
            </div>
            