<div class="{{ include.classes }}">
    <div class="bga-component nav-image-tile h-100">
        
        <div class="nav-body position-relative pt-4 px-4 pb-9 remove-element-padding">

            <a class="tile-title stretched-link mb-4" href={{ include.tile-url | relative_url }} >{{ include.tile-title }}</a>

            <p class="tile-description mb-0">{{ include.tile-text }}</p>
            
            <div class="filter-tags mb-4">
                <span class="filter-tag px-3 py-1 mb-2 me-2">{{ include.tile-tag1 }}</span>
                <span class="filter-tag px-3 py-1 mb-2 me-2">{{ include.tile-tag2 }}</span>
                <span class="filter-tag px-3 py-1 mb-2 me-2">{{ include.tile-tag3 }}</span>
                <span class="filter-tag px-3 py-1 mb-2 me-2">{{ include.tile-tag4 }}</span>
                <span class="filter-tag px-3 py-1 mb-2 me-2">{{ include.tile-tag5 }}</span>
            </div>
            
            <img src={{ include.tile-image | relative_url }} />  
            
        </div>
    </div>
</div>