<div id="page-header">
    <div class="container">

        <div class="row pt-5 mx-0">
            <div class="header-content col">
                <div class="row g-0">
                    <div class="col-sm-12 col-lg-10 col-xl-8 remove-element-padding">
                        <h1>{{ page.title }}</h1>
                        <p class="header-intro">{{ page.description }}</p>
                        <div class="use-tags m-0 p-0 remove-element-padding">
                            <p class="pt-1 me-2 mb-0">Use on:</p>
                            <ul class="p-0 m-0">
                                <li class="me-2 mb-0 py-1 ps-5 pe-2 {{ page.bga-tag}}">business.gov.au</li> 
                                <li class="m-0 mb-0 py-1 ps-5 pe-2 {{page.subsite-tag}}">subsites</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>