<div class="breakpoints typography m-0 p-4">

    <div class="element-name">
        <h3 class="p-0 m-0">{{include.element-name}}</h3>
    </div>

    <div class="breakpoint-wrapper">
        <p class="pe-3 m-0">Breakpoints:</p>

        <fieldset id="{{include.element-string}}-group">

            <div class="btn-toolbar" role="toolbar">
            
            <div class="btn-group" data-toggle="buttons" role="group" aria-label="Basic radio toggle button group">

                <input type="radio" class="btn-check" name="{{include.element-string}}-group" id="{{include.element-string}}-bp-sm" autocomplete="off" data-breakpoint="bp-min576" checked>
                <label class="btn btn-outline-primary py-2 px-3 " for="{{include.element-string}}-bp-sm">≥576px (sm)</label>

                <input type="radio" class="btn-check " name="{{include.element-string}}-group" id="{{include.element-string}}-bp-mobile" autocomplete="off" data-breakpoint="bp-mobile">
                <label class="btn btn-outline-primary py-2 px-3 " for="{{include.element-string}}-bp-mobile">&lt;576px</label>


            </div>
            </div>

        </fieldset>

    </div>

    <div class="smaller-screens remove-element-padding">
        <p>Mobile design</p>
</div>

</div>
