/* BGA Style Guide Page Structure */

// Global classes
.container {
    width: 100%;
    max-width: 1320px;
}
.remove-element-padding {
    > *:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    > *:first-child {
        padding-top: 0;
        margin-top: 0;
    }
}
.remove-top-spaces {
     > *:first-child {
        padding-top: 0;
        margin-top: 0;
    }
}

.responsive-img {
    @include responsive-img();
}
.bga-component {
    text-decoration: none;
    color: $bga-black;
    
    .tile-title {
        color: $bga-blue-links;
        font-size: $h3-font-size;
        font-weight: 600;
        text-decoration: none;

    }
    p {
        font-weight: 400;
    }
    &:focus {
        border: solid 3px $bga-blue-background-dark;
        border-radius: 4px;
    }
    &:focus, &:hover {  
        .tile-title {
            text-decoration: underline;
        }
    }
       
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}


// Site name
.site-name {
    display: flex;
    
    a {
        @include bga-font($font-family-sans-serif,$font-weight-semibold, normal);
        font-size: 1.8rem;
        color: $bga-blue-black-dark;
        border-left: 1px $bga-blue-black-dark solid;     
        display: block;
        text-decoration: none;
        line-height: 1.2;
    }
    
}


// Navbar
.navbar {
    padding: 0 16px;
    font-weight: 600;
    margin-left: -8px;
    
    .nav-item { 
        margin: 0;
        padding: 0;
        text-indent: 0;
        
        &::before {
            content: none;
        }
        
        .nav-link {
            font-weight: 600;
            border-radius: 4px;

            &:focus {
                background: $bga-blue-background-light;
            }
            &:hover {
                background: $bga-blue-background-light;
            }
            &.inactive {
                opacity: .5;
                cursor: default;
            }
            
        }
    }    
}


// Breadcrumbs
#breadcrumbs {
    background: $bga-blue-background-dark;
    min-height: 48px;
    
    li {
        list-style-type: none;
        display: inline-block;   
        margin-bottom: 0px;
        text-indent: 0;
        
        &::before {
            content: none;
        }
    }
    a, p {
        font-size: 14px;
        display: block;
        color: $white;
        padding: 4px 16px 0 0; 
    }
    a {
        font-weight: 600;
        background: url(../assets/Chevron-right-white.svg) no-repeat;
        background-position: right 0 top 12px;
        background-size: 5px 8px;
        
        &:empty {
            display: none;
            width: 0;
            height: 0;
        }
    }
    
}


// Page headers
#page-header {
    background: linear-gradient(0deg, #b8cde7 0%, #9cb6db 100%);
    
    .header-content {
        background: $bga-blue-background-light;
        padding: 32px 32px 48px 32px;
    }
    
    .use-tags {
        display: flex;
        p {
            font-size: 0.88rem;
        }
        li {
            font-weight: 600;
            display: inline-block;
            list-style-type: none;
            text-indent: 0;
            font-size: 0.88rem;
            
            &::before {
                content: none;
            }
            
            &.true {
                border: solid 2px $bga-green-success-dark;
                border-radius: 50px;
                background: $bga-green-success-light url(../assets/icon-tick-green.svg) no-repeat;
                background-position: left 8px center;
            }
             &.false {
                border: solid 2px $bga-red-fail-dark;
                border-radius: 50px;
                background: $bga-red-fail-light url(../assets/icon-cross-red.svg) no-repeat;
                background-position: left 10px center;
                background-size: 16px 16px;
            }
        }
    }
    
}


// Nav image tiles
.nav-image-tile {
    border: 1px solid $bga-blue-border;
    border-left: 8px solid $bga-blue-background-dark;
    background: #fff url(../assets/arrow-circle-right-blue.png) no-repeat;
    background-position: left 32px bottom 24px;
    background-size: 32px 32px;
    
    a {
        display: block;
    }
    
    .tile-description {
        
        &:empty {
            display: none;
        }
    }

    .filter-tags {
        display: flex;
        flex-wrap: wrap;
        
        &:empty {
            display: none;
        }
    }
    
    .filter-tag {
        background:$bga-purple-highlight-light;
        border-radius: 20px;
        white-space: nowrap;
        font-size: .75rem;
        font-weight: 600;
        display: block;
        
        &:empty {
            display: none;
        }
    }
    
    &:hover {
        background-color: $bga-blue-background-extralight;
        
        .filter-tag {
            border: $bga-purple-highlight-shadow solid 2px;
        }
    }
    
}

// Filters
.component_number {
    font-size: $h2-font-size;
    
    span {
        font-weight: 600;
    }
}
.nav-tile-filters {
    .filter-item {
        display: flex;
        
        input {
            height: 28px;
            width: 28px;
            border: solid 1px $bga-black;
            border-radius: 0;
            -webkit-border-radius: 0;
            -webkit-appearance: none;
            
            &:checked {
                border: solid 2px $bga-black;
                background: url(../assets/icon-tick-black.svg) no-repeat;
                background-position: center center;
            }
        }
        label {
            font-size: .88rem;
        }
    }
}
.nav-tile-search {
    background: $bga-blue-black-lightest;
    
    label {
        font-weight: 600;
        font-size: $h4-font-size;
    }
    .input-wrapper {
        display: flex;
    }
    input {
        width: calc(100% - 52px);
        height: 52px;
    }
    button {
        background: url(../assets/icon-search-white.svg) no-repeat $bga-blue-background-dark;
        background-position: center center;
        height: 52px;
        width: 52px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border: none;
        outline: none;
        box-shadow: none;
        text-indent: -9999px;
    }
    
}
.reset-filters {
    button {
        border: none;
        background: none;
        text-decoration: underline;
    }
}

//Filtering display of nav-tiles
.nav-tile-wrapper {
    display: block;
    
    &.filters_on {
        display: none;  
        
        &.show {
            display: block;
        }
    }
    &.searched_on {
        display: none;
        
        &.show {
            display: block;
        }
    }
    
    &.coming-soon {
        position: relative;
        
        &:after {
            content: "Coming soon"; 
            position: absolute;
            top: 0;
            right: 16px;
            width: 40%;
            height: 100%;
            margin-right: 32px;
            background: rgba(46, 62, 90, .9);
            font-size: $h3-font-size;
            font-weight: 600;
            padding: 80px 24px;
            margin: 0;
            color: $bga-white;
            display: flex;
        }
        
    }
}
.no-results {
    display: none;
    
    &.show {
        display: block;
    }
    
    h2 {
        font-weight: 400;
    }
    
    span {
        font-weight: 600;
    }
}

// Anchor menu
.anchor-menu {
    position: relative;
    
    &.fixed {
        position: fixed;
        top: 32px;
    }
    
    li {
        text-decoration: none;
        font-size: .88rem;
        list-style-type: none;
        text-indent: 0;
        
        &::before {
            content: none;
        }
        
        a {
            text-decoration: none;
            font-weight: 400;
            
            &:focus, &:hover {
                font-weight: 600;
                text-decoration: underline; 
            }
            
            &.current {
                border-left: 4px solid $bga-blue-links;
                padding-left: 8px;
            }
        }
    }
}


// Component & foundation example containers
.breakpoints {
    background: $bga-blue-background-extralight;
    border: 1px solid $bga-blue-border;
    display: flex;
    align-items: center;
    
    .larger-screens {
        display: flex;
        align-items: center;
    }
    .smaller-screens {
        display: none;
    }
        
    p {
        font-size: 1rem;
        font-weight: 600;
    }
    .show {
        display: block;
    }
    .hide {
        display: none;
        visibility: hidden;
    }
    .btn-outline-primary {
        background: $bga-white;
        border: solid 3px $bga-blue-footer;
        color: $bga-blue-links;
        
        &:focus {
            color: $bga-white;
            background: $bga-blue-links;
        }
        
        &:hover {
            color: $bga-white;
            background: $bga-blue-background-dark;
        }
    }
    .btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
        background: $bga-blue-footer;
        border-color: $bga-blue-footer;
    }
    .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
        box-shadow: none;
    }
}

.typography.breakpoints {
    display: flex;
    align-items: center;
    
    .element-name {
        width: 40%;
    }
    .breakpoint-wrapper {
        width: 60%;
        margin-left: 32px;
        display: flex;
        align-items: center;
    }
}

.component-example {
    border: 1px solid $bga-blue-border;
    
    &.bp-mobile {
        .component-wrapper {
            width: 50%;
        }
    }
}


.design-specs-link {
    border: 1px solid $bga-blue-border;
    background: $bga-blue-background-extralight;
}


// Layouts containers
.layouts {
    background: $bga-blue-background-extralight;
    border: 1px solid $bga-blue-border;
    display: flex;
    align-items: center;
    
    .form-select {
        width: auto;
        font-weight: 600;
        border: solid 1px $bga-black;
        border-radius: 0;
        background-image: url(../assets/Chevron-down-black.svg) !important;
        background-position: right 16px center;
        
        option.false {
            display: none;
        }
    }
}
.layout-example {
    border: 1px solid $bga-blue-border;
    border-top: none;
    display: none;
    
    .layouts-wrapper {
        display: flex;
    }
    .layout-image {
        width: 60%;

        img {
            @include responsive-img();
        }
    }

    .layout-rules {
        width: 40%;
    }
    
    &.full-border {
        border-top: 1px solid $bga-blue-border;
    }
    
    &.show {
        display: block;
    }
    .accordion-toggle {
        border: none;
        background: $bga-white;
        text-decoration: underline;
        cursor: pointer;
        float: right;
        font-weight: 600;
        box-shadow: none;
        border-radius: none;

    }
    .accordion-item {
        &.false {
            display: none;
        }
        border: none;
        border-bottom: solid 1px $bga-blue-border;
        
        &:last-of-type {
            border-bottom: none;
            
            .accordion-button {
                border-radius: 0;
            }
        }
        &:first-of-type {
            .accordion-button {
                border-radius: 0;
            }
        }
    }
    .accordion-button {
        background: $bga-white;
        font-weight: 600;
        color: $bga-black;
        padding: 16px 0;
        
        &:not(.collapsed) {
            background: $bga-white;
            box-shadow: none;
        }
        &::after {
            background-image: url(../assets/Chevron-down-black.svg);
        }
        &:focus {
            box-shadow: none;
        }
    }
    .accordion-body {
        display: flex;
        padding: 16px 0; 
    }
}

// Footer
#footer {
    background: $bga-blue-links;
    color: $white;
    
    h2 {
        color: $white;
        font-size: $h3-font-size;
    }
    a {
        color: $white;
        font-weight: 600;
    }
}
#indigenous-footer {
    background: $bga-blue-footer;
    box-shadow: 0 50vh 0 50vh $bga-blue-footer;
    color: $white;
}



//Example pages
.content-wrapper {
    padding: 0 32px;
}
.sidebar-wrapper .sidebar {
    background: $bga-yellow-highlight-light;
}
.coloured-bkg-wrapper {
    background: $bga-blue-background-light;
    margin: 32px -9999px;
    padding: 32px 9999px;
}


// Media queries

@media (max-width:991px) {

    #nav {
        margin-bottom: 16px !important;
    }
    .navbar {
        padding: 0 0 0 16px;
        
        .container {
            margin-top: -15px;
        }
        .nav-item {
            background: $bga-blue-background-light;
            border-bottom: solid 1px $white;
            
            .nav-link {
                padding: 12px 16px;
                
                &:focus {
                    background: $bga-blue-background-light;
                }
                &:hover {
                    background: $bga-blue-background-light;
                }
            }
        }
    }
    .navbar-toggler {
        background: $bga-blue-background-light url(../assets/icon-close.svg) no-repeat;
        background-position: center center;
        height: 48px;
        width: 56px;
        border-radius: 6px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        position: absolute;
        right: 0;
        top: -64px;
        outline-style: none !important;
        box-shadow: none !important;
        
        
        &[aria-expanded="false"] {
            background: $bga-blue-background-dark url(../assets/icon-menu.svg) no-repeat;
            background-position: center center;
            border-radius: 6px;
        }
 
    }   
}

@media (max-width:768px) {
    .breakpoints {
        .larger-screens {
            display: none;
        }
        .smaller-screens {
            display: block;
        }
    }
    .typography.breakpoints {
        flex-wrap: wrap;
        
        .element-name {
            width: 100%;
        }
        .breakpoint-wrapper {
            margin: 0;
            padding-top: 8px;
            width: 100%;
        }
        .smaller-screens {
            display: none;
        }
    
    }
    .component-example.bp-mobile {
        padding-right: 24px !important;    
    }
}

@media (max-width: 576px)  {
   
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .content-wrapper {
        padding: 0;
    }

    .site-name {
        a {
            font-size: $h4-font-size;
            line-height: 1.5;
        }
        svg {
            width: 100px;
        }
    }
    .navbar {
        .container {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    .navbar-toggler {
        right: 8px;
        top: -64px;
    }
    #page-header {
        background: $bga-blue-background-light;
        
        .use-tags {
            p {
                display: none;
            }
        }
        .row:first-of-type {
            padding-top: 0 !important;
        }
        .header-content {
            padding-left: 0;
            padding-right: 0;
        }
    }


    .typography.breakpoints {
        .breakpoint-wrapper {
            display: none;
        }
        .smaller-screens {
            display: block;
        }
    }
}

