.button-state-wrapper {
    border-top: solid 1px $bga-blue-border;
}

.bga-btn,
.bga-btn-state {
    display: inline-flex;
    align-items: center;
    border: solid 3px $bga-yellow-highlight-shadow;
    border-radius: 100px;
    background: $bga-yellow-highlight-dark;
    color: $bga-black;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.625;
    padding: 11px 32px;
    box-shadow: $bga-btn-boxshadow;
    text-align: center;
    
    svg {
        margin-left: 8px;
        margin-bottom: 0;
        fill: $bga-black;
    }


    &.bga-secondary-btn {
        background: $bga-white;
        border-color: $bga-blue-background-dark;
        color: $bga-black;

        &.bkg-dark {
            border-color: $bga-blue-border;
            color: $bga-black;
        }
    }
}

.bga-btn {
    &:focus {
        border-color: $bga-blue-focus;
        background: $bga-yellow-links-background;
        outline: none;

        &.bga-secondary-btn {
            border-color: $bga-blue-links;
            background: $bga-blue-links;
            color: $bga-white;
            
            svg {
                fill: $bga-white;
            }
        }
        
        &.bkg-dark {
            background: $bga-white;
            border-color: $bga-yellow-links-background;
            
            &.bga-secondary-btn {
                color: $bga-white;
                background: $bga-blue-links;
                border-color: $bga-white;
            }
        }

    }

    &:hover {
        border-color: $bga-yellow-links-background;
        background: $bga-yellow-links-background;

        &.bga-secondary-btn {
            border-color: $bga-blue-background-dark;
            background: $bga-blue-background-dark;
            color: $bga-white;
            
            svg {
                fill: $bga-white;
            }
        }
        
        &.bkg-dark {
            color: $bga-black;
            
            &.bga-secondary-btn {
                border-color: $bga-white;
                color: $bga-white;
                 background: $bga-blue-links;
            }
        }
    }

    &:active {
        border-color: $bga-yellow-highlight-shadow;
        background: $bga-yellow-highlight-shadow;

        &.bga-secondary-btn {
            border-color: $bga-blue-footer;
            background: $bga-blue-footer;
            color: $bga-white;
            
            svg {
                fill: $bga-white;
            }
        }
        
        &.bkg-dark {
            border-color: $bga-yellow-highlight-shadow;
            background: $bga-yellow-highlight-shadow;
            
            &.bga-secondary-btn {
                border-color: $bga-white;
                background: $bga-blue-footer;
                color: $bga-white;
            }
        }
    }
}

.bga-btn-state {
    &.default {
        &.bkg-dark {
            color: $bga-black;
        }
    }

    &.focus {
        border-color: $bga-blue-focus;
        background: $bga-yellow-links-background;
        outline: none;

        &.bga-secondary-btn {
            border-color: $bga-blue-links;
            background: $bga-blue-links;
            color: $bga-white;
        }
        
        &.bkg-dark {
            background: $bga-white;
            border-color: $bga-yellow-links-background;
            color: $bga-black;
            
            &.bga-secondary-btn {
                color: $bga-white;
                background: $bga-blue-links;
                border-color: $bga-white;
            }
        }

    }

    &.hover {
        border-color: $bga-yellow-links-background;
        background: $bga-yellow-links-background;

        &.bga-secondary-btn {
            border-color: $bga-blue-background-dark;
            background: $bga-blue-background-dark;
            color: $bga-white;
        }
        
        &.bkg-dark {
            color: $bga-black;
            
            &.bga-secondary-btn {
                border-color: $bga-white;
                color: $bga-white;
                background: $bga-blue-links;
            }
        }
    }

    &.active {
        border-color: $bga-yellow-highlight-shadow;
        background: $bga-yellow-highlight-shadow;

        &.bga-secondary-btn {
            border-color: $bga-blue-footer;
            background: $bga-blue-footer;
            color: $bga-white;
        }
        
        &.bkg-dark {
            color: $bga-black;
            
            &.bga-secondary-btn {
                border-color: $bga-white;
                background: $bga-blue-footer;
                color: $bga-white;
            }
        }
    }

    &.disabled {
        opacity: .65;

        &.bkg-dark {
            color: $bga-black;
        }
    }
}

.bga-link,
.bga-link-state {
    color: $bga-blue-links;
    font-weight: 600;
    text-decoration: underline;
    font-size: 1rem;
    line-height: 1.625;
    display: inline-block;
    
    &.bkg-dark {
        color: $bga-white;
    }

    &.bga-tertiary-link {
        font-size: 1.125rem;
        line-height: 2rem;
        background: url(../assets/icon-tertiary-arrow.svg) no-repeat;
        background-position: left 0 top 0;
        padding-left: 40px;
        text-decoration: none;
    }
}

.bga-link {
    &:focus {
        border: 2px solid $bga-blue-focus;
        background: $bga-blue-background-extralight;
        border-radius: 4px;
        outline: none;

        &.bga-tertiary-link {
            background: url(../assets/icon-tertiary-arrow-hover.svg) no-repeat;
            background-position: left 0 top 0;
        }
        &.bkg-dark {
            color: $bga-blue-links;
            border: solid 2px $bga-blue-background-extralight;
            
            &.bga-tertiary-link {
                background: url(../assets/icon-tertiary-arrow-hover-darkbg.svg) no-repeat;
                background-position: left 0 top 0;
                border: solid 2px $bga-white;
                color: $bga-white;
            }
        }
    }

    &:hover {
        background: $bga-blue-background-extralight;

        &.bga-tertiary-link {
            background: url(../assets/icon-tertiary-arrow-hover.svg) no-repeat;
            background-position: left 0 top 0;
        }
        
        &.bkg-dark {
            color: $bga-blue-links;
            
            &.bga-tertiary-link {
                background: url(../assets/icon-tertiary-arrow-hover-darkbg.svg) no-repeat;
                background-position: left 0 top 0;
                color: $bga-white;
            }
        }
    }

    &:active {
        background: $bga-blue-background-extralight;
        color: $bga-blue-footer;
        border: none;

        &.bga-tertiary-link {
            background: url(../assets/icon-tertiary-arrow-active.svg) no-repeat;
            background-position: left 0 top 0;
        }
        &.bkg-dark {
            color: $bga-blue-links;
            
            &.bga-tertiary-link {
                background: url(../assets/icon-tertiary-arrow-hover-darkbg.svg) no-repeat;
                background-position: left 0 top 0;
                color: $bga-white;
            }
        }
    }
}

.bga-link-state {
    &.focus {
        border: 2px solid $bga-blue-focus;
        background: $bga-blue-background-extralight;
        border-radius: 4px;
        outline: none;

        &.bga-tertiary-link {
            background: url(../assets/icon-tertiary-arrow-hover.svg) no-repeat;
            background-position: left 0 top 0;
        }
        &.bkg-dark {
            color: $bga-blue-links;
            border: solid 2px $bga-blue-background-extralight;
            
            &.bga-tertiary-link {
                background: url(../assets/icon-tertiary-arrow-hover-darkbg.svg) no-repeat;
                background-position: left 0 top 0;
                border: solid 2px $bga-white;
                color: $bga-white;
            }
        }
    }

    &.hover {
        background: $bga-blue-background-extralight;

        &.bga-tertiary-link {
            background: url(../assets/icon-tertiary-arrow-hover.svg) no-repeat;
            background-position: left 0 top 0;
        }
        &.bkg-dark {
            color: $bga-blue-links;
            
            &.bga-tertiary-link {
                background: url(../assets/icon-tertiary-arrow-hover-darkbg.svg) no-repeat;
                background-position: left 0 top 0;
                color: $bga-white;
            }
        }
    }

    &.active {
        background: $bga-blue-background-extralight;
        color: $bga-blue-footer;

        &.bga-tertiary-link {
            background: url(../assets/icon-tertiary-arrow-active.svg) no-repeat;
            background-position: left 0 top 0;
        }
        &.bkg-dark {
            color: $bga-blue-links;
            
            &.bga-tertiary-link {
                background: url(../assets/icon-tertiary-arrow-hover-darkbg.svg) no-repeat;
                background-position: left 0 top 0;
                color: $bga-white;
                border: none;
            }
        }
    }

    &.disabled {
        opacity: .65;
    }
}



// MOBILE display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-mobile,
.component-example.small-screen {
    button,
    .bga-btn-state {
        font-size: .875rem;
        line-height: 1.125rem;
        padding: 12px 24px;
    }
    .button-example {
        width: 100%;
        
        &:first-of-type {
            margin-bottom: 24px;
        }
        
    }

}


// Modify Bootstrap buttons when they are used
.btn-primary {
    background: $bga-yellow-highlight-dark;
    border: solid 3px $bga-yellow-highlight-shadow;
    color: $bga-black;

    &:focus,
    &:focus-visible {
        background: $bga-yellow-links-background;
        border-color: $bga-blue-background-dark;
        box-shadow: none;
        color: $bga-black;
    }

    &:hover {
        background: $bga-yellow-links-background;
        border-color: $bga-yellow-links-background;
        box-shadow: none;
        color: $bga-black;
    }

    &:active {
        background: $bga-yellow-highlight-shadow;
        border-color: $bga-yellow-highlight-shadow;
        box-shadow: none;
        color: $bga-black;
    }
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}