.colour-wrapper.full-border {
    border: solid 1px $bga-blue-border;
}
.colour-example {
    .colour {
        display: block;
        height: 50px;
        width: 100%;
        background: $bga-blue-links;
        border: solid 1px $bga-blue-black-light;
        border-left: none;
        border-right: none; 
    }
    
    &.large {
        .colour {
            height: 70px;
        }
    }
    
    &.highlight {
        .hex {
            padding-bottom: 0px !important;
        }
    }
    
    .hex:empty,
    .colour-use:empty {
        display: none;
    }
    
    
    //BGA BLUES
    
    &.hexnone {
        @include colour-example($bga-white);
        
        .colour {
            border: none;
        }
    }
    
    &.hex2157AA {
        @include colour-example($bga-blue-links);
    }
    &.hex2E6CB9 {
        @include colour-example($bga-blue-background-dark);
    }
    &.hex96B7DF {
        @include colour-example($bga-blue-border);
    }
    &.hexC8D9EE {
        @include colour-example($bga-blue-background-light);
    }
    &.hexE3ECF6 {
        @include colour-example($bga-blue-background-extralight);
    }
    &.hex113869 {
        @include colour-example($bga-blue-footer);
    }
    
    
    // HIGHLIGHT COLOURS
    
    &.hex708DAF {
        @include colour-example($bga-blue-highlight-shadow);
    }
    &.hex96B7DF {
        @include colour-example($bga-blue-highlight-dark);
    }
    &.hexB3CBE8 {
        @include colour-example($bga-blue-highlight-mid);
    }
    &.hexC8D9EE {
        @include colour-example($bga-blue-highlight-light);
    }
    
    
    &.hex489595 {
        @include colour-example($bga-teal-highlight-shadow);
    }
    &.hex5AB3B3 {
        @include colour-example($bga-teal-highlight-dark);
    }
    &.hex8BCACA {
        @include colour-example($bga-teal-highlight-mid);
    }
    &.hexCFEBEB {
        @include colour-example($bga-teal-highlight-light);
    }
    
    
    &.hex629D62 {
        @include colour-example($bga-green-highlight-shadow);
    }
    &.hex85CB85 {
        @include colour-example($bga-green-highlight-dark);
    }
    &.hexA0D1A0 {
        @include colour-example($bga-green-highlight-mid);
    }
    &.hexD4EDD4 {
        @include colour-example($bga-green-highlight-light);
    }
    
    
    &.hexEDC95A {
        @include colour-example($bga-yellow-highlight-shadow);
    }
    &.hexFFD964 {
        @include colour-example($bga-yellow-highlight-dark);
    }
    &.hexFFE491 {
        @include colour-example($bga-yellow-highlight-mid);
    }
    &.hexFFF3CD {
        @include colour-example($bga-yellow-highlight-light);
    }
    
    
    &.hexCC7A29 {
        @include colour-example($bga-orange-highlight-shadow);
    }
    &.hexE88A2D {
        @include colour-example($bga-orange-highlight-dark);
    }
    &.hexF1B981 {
        @include colour-example($bga-orange-highlight-mid);
    }
    &.hexFDE6D0 {
        @include colour-example($bga-orange-highlight-light);
    }
    
    
    &.hex7468B4 {
        @include colour-example($bga-purple-highlight-shadow);
    }
    &.hex9183D8 {
        @include colour-example($bga-purple-highlight-dark);
    }
    &.hexB1A8E3 {
        @include colour-example($bga-purple-highlight-mid);
    }
    &.hexE2DDF8 {
        @include colour-example($bga-purple-highlight-light);
    }
    
    
    
    // UTILITY COLOURS
    
    &.hex333333 {
        @include colour-example($bga-black);
    }
    &.hexFFFFFF {
        @include colour-example($bga-white);
    }
    &.hex933AA8 {
        @include colour-example($bga-purple-links-visited);
    }
    &.hexFFCF3B {
        @include colour-example($bga-yellow-links-background);
    }
    
    
    &.hex2E3E5A {
        @include colour-example($bga-blue-black-dark);
    }
    &.hex788295 {
        @include colour-example($bga-blue-black-mid);
    }
    &.hexABB1BD {
        @include colour-example($bga-blue-black-light);
    }
    &.hexE4E6EA {
        @include colour-example($bga-blue-black-lightest);
    }
    
    
    &.hex105C5C {
        @include colour-example($bga-teal-tool-dark);
    }
    &.hex218080 {
        @include colour-example($bga-teal-tool-mid);
    }
    &.hexBFE2E2 {
        @include colour-example($bga-teal-tool-light);
    }
    &.hexE6F3F3 {
        @include colour-example($bga-teal-tool-extra-light);
    }
    
    
    &.hexD2201E {
        @include colour-example($bga-red-fail-dark);
    }
    &.hexF5B5B5 {
        @include colour-example($bga-red-fail-mid);
    }
    &.hexFCE9E9 {
        @include colour-example($bga-red-fail-light);
    }
    
    
    &.hex299F28 {
        @include colour-example($bga-green-success-dark);
    }
    &.hexA0D1A0 {
        @include colour-example($bga-green-success-mid);
    }
    &.hexD4EDD4 {
        @include colour-example($bga-green-success-light);
    }
    
    
    &.hexB28B67 {
        @include colour-example($bga-skin-1);
    }
    &.hexEFC6A1 {
        @include colour-example($bga-skin-2);
    }
    
    
    @media (max-width: 576px) {
        &.hexnone {
            display: none;
        }

    }
}
