/* BGA VARIABLES ---------------------------------------- */

// BGA Colours
//
// BGA Blues
$bga-blue-links: #2157AA;
$bga-blue-background-dark: #2E6CB9;
$bga-blue-background-light: #C8D9EE;
$bga-blue-background-extralight: #E3ECF6;
$bga-blue-border: #96B7DF;
$bga-blue-footer: #113869;

// Highlight colours
$bga-blue-highlight-shadow: #708DAF;
$bga-blue-highlight-dark: #96B7DF;
$bga-blue-highlight-mid: #B3CBE8;
$bga-blue-highlight-light: #C8D9EE;

$bga-teal-highlight-shadow: #489595;
$bga-teal-highlight-dark: #5AB3B3;
$bga-teal-highlight-mid: #8BCACA;
$bga-teal-highlight-light: #CFEBEB;

$bga-green-highlight-shadow: #629D62;
$bga-green-highlight-dark: #85CB85;
$bga-green-highlight-mid: #A0D1A0;
$bga-green-highlight-light: #D4EDD4;

$bga-yellow-highlight-shadow: #EDC95A;
$bga-yellow-highlight-dark: #FFD964;
$bga-yellow-highlight-mid: #FFE491;
$bga-yellow-highlight-light: #FFF3CD;

$bga-orange-highlight-shadow: #CC7A29;
$bga-orange-highlight-dark: #E88A2D;
$bga-orange-highlight-mid: #F1B981;
$bga-orange-highlight-light: #FDE6D0;

$bga-purple-highlight-shadow: #7468B4;
$bga-purple-highlight-dark: #9183D8;
$bga-purple-highlight-mid: #B1A8E3;
$bga-purple-highlight-light: #E2DDF8;

// Utility colours
$bga-black: #333333;
$bga-white: #ffffff;
$bga-purple-links-visited: #933AA8;
$bga-yellow-links-background: #FFCF3B;

$bga-blue-black-dark: #2E3E5A;
$bga-blue-black-mid: #788295;
$bga-blue-black-light: #ABB1BD;
$bga-blue-black-lightest: #E4E6EA;

$bga-blue-focus: #2E6CB9;
$bga-teal-tool-dark: #105C5C;
$bga-teal-tool-mid: #218080;
$bga-teal-tool-light: #BFE2E2;
$bga-teal-tool-extra-light: #E6F3F3;

$bga-red-fail-dark: #D2201E;
$bga-red-fail-mid: #F5B5B5;
$bga-red-fail-light: #FCE9E9;

$bga-green-success-dark: #299F28;
$bga-green-success-mid: #A0D1A0;
$bga-green-success-light: #D4EDD4;

$bga-skin-1: #B28B67;
$bga-skin-2: #EFC6A1;

$bga-btn-boxshadow: 2px 2px 3px 0px rgba(51, 51, 51, 0.2);


/* OVERRIDE BOOTSTRAP VARIABLES ---------------------------------------- */

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25, //4px
  2: $spacer * .5, //8px
  3: $spacer, //16px
  4: $spacer * 1.5, //24px
  5: $spacer * 2, //32px
  6: $spacer * 3, //48px
  7: $spacer * 3.5, //56px
  8: $spacer * 4, //64px
  9: $spacer * 5 //80px
) ;

// Options
//
// Disable responsive font sizing
$enable-rfs: false;


// Container padding
$container-padding-x: 32px;



// Body
//
// Settings for the `<body>` element.
$body-color: $bga-black;
$body-text-align: left;


// Links
//
// Style anchor elements.
$link-color: $bga-blue-links;


// Paragraphs
//
// Style p element.
$paragraph-margin-bottom:  24px;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-gutter-width: 32px;
$gutters: $spacers !default;

// Container padding
$container-padding-x: $grid-gutter-width * .5 !default;


// Cards
$card-height: 100%;
$card-border-width: 1px;
$card-border-color: $bga-blue-border;
$card-border-radius: 0px;
$card-spacer-y: $spacer * 1.5;
$card-spacer-x: $spacer * 1.5;



// scss-docs-start border-variables
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  8: 8px,
  16: 16px
) ;


$box-shadow: .2rem .2rem .3rem 0 rgba($bga-black, .2);


// Typography
//
// scss-docs-start font-variables
$font-family-sans-serif: 'Open Sans', Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;


// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root: 16px;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base;
$font-size-lg: $font-size-base;

$font-weight-semibold: 600;

$line-height-sm: 1.5;
$line-height-lg: 1.5;

$h1-font-size: $font-size-base * 2.75;
$h2-font-size: $font-size-base * 2.125;
$h3-font-size: $font-size-base * 1.375;
$h4-font-size: $font-size-base * 1.1875;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;
// scss-docs-end font-variables

// scss-docs-start headings-variables
$headings-margin-bottom:  24px;
$headings-font-weight: 600;
$headings-line-height: 1.5;
$headings-color: $bga-blue-black-dark;
// scss-docs-end headings-variables



// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// scss-docs-start input-btn-variables
$input-btn-padding-y: .75rem !default;
$input-btn-padding-x:  32px;
$input-btn-border-width: 3px;
$input-btn-focus-width: 2px;
$input-btn-focus-color-opacity: 1;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables
$btn-font-weight: $font-weight-semibold;
$btn-focus-width: $input-btn-focus-width !default;
$btn-link-color: $bga-black;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: 50px;


// Navs

// scss-docs-start nav-variables
$nav-link-padding-y: .375rem;



/* IMPORT BOOTSTRAP SASS ------------------------------------------ */

@import "bootstrap";




/* BGA MIXINS ------------------------------------------ */

// BGA Fonts
@mixin bga-font($font, $font-weight, $font-style) {
    font-family: $font;
    font-weight: $font-weight;
    font-style: $font-style;
}
// Examples
// Regular font: @include bga-font($font-family-sans-serif, $font-weight-normal, normal);
// @include bga-font($font-family-sans-serif,$font-weight-semibold, normal);
// @include bga-font($font-family-sans-serif, $font-weight-bold, normal);


@mixin hero-color($border, $arrow, $external-link) {
        .component-content {
            border-left: 16px $border solid;
        }
        
        .arrow-icon {
            background: $arrow;
        }
        .icon-wrapper {
            background: $external-link;
        }
}
// @include hero-color($bga-purple-highlight-dark, $bga-purple-highlight-mid, $bga-purple-highlight-light);

@mixin responsive-img(){
    width: 100%;
    max-width: 100%;
    height: 100%;
}
// @include responsive-img();

@mixin colour-example($bga-colour) {
    .colour {
        background: $bga-colour;
    }
}

