---

layout: content-tagged
title: Hero pathway list
description: Link to high-value content on the site.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">
    
    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include anchor-menu.html
            link-1="Design" link-id-1="#design"
            link-2="Layouts" link-id-2="#layouts" 
            link-3="Guidelines for use" link-id-3="#guidelines-for-use" 
        %}
        
    </div>
    
    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">
   
          
        <!-- DESIGN -->   
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
       {% include breakpoints.html
            element-string="hero-pathway"
            xl-visibility="hide"
            lg-visibility="show"
            md-visibility="hide"
            sm-visibility="hide"
            final-visibility="show"
            breakpoint-final="992px"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding p-4">


            <h3>Large hero pathway with internal link</h3>
                {% include component-examples/hero-pathway-example.html 
                    hero-image="'../assets/illustrations/person-shop.svg' | relative_url " 
                    hero-classes="border-purple"
                %}


            <h3>Large hero pathway with external link</h3>
                {% include component-examples/hero-pathway-example.html 
                    hero-image="'../assets/illustrations/computer-success.svg' | relative_url " 
                    hero-classes="border-blue external"
                    external-link="Australian Taxation Office"
                %}


            <h3>Small hero pathways</h3>

            <div class="small-hero-wrapper">
                {% include component-examples/hero-pathway-example.html 
                    hero-image="'../assets/illustrations/computer-success.svg' | relative_url " 
                    hero-classes="border-green small-hero"
                %}  

                {% include component-examples/hero-pathway-example.html 
                    hero-image="'../assets/illustrations/computer-success.svg' | relative_url " 
                    hero-classes="border-yellow small-hero external"
                    external-link="IP Australia"
                %}
            </div>



                <h3>Colour variations</h3>

                <div class="colour-options-wrapper">
                    {% include component-examples/hero-colours.html 
                        hero-classes="border-blue"
                        external-link="Blue"
                    %} 

                    {% include component-examples/hero-colours.html 
                        hero-classes="border-teal"
                        external-link="Teal"
                    %} 

                    {% include component-examples/hero-colours.html 
                        hero-classes="border-green"
                        external-link="Green"
                    %} 

                    {% include component-examples/hero-colours.html 
                        hero-classes="border-yellow"
                        external-link="Yellow"
                    %} 

                    {% include component-examples/hero-colours.html 
                        hero-classes="border-orange"
                        external-link="Orange"
                    %} 

                    {% include component-examples/hero-colours.html 
                        hero-classes="border-purple"
                        external-link="Purple"
                    %} 
            </div>

            </div>
        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html 
            btn-link="'https://xd.adobe.com/view/aa072634-b3aa-408b-966a-2e8f09cf920b-ff54/screen/4f2f85d9-aeda-476f-a5cf-6af7e81f4383/'"
            btn-text="View design specifications"
            %}


        <!-- LAYOUTS -->   
        <h2 class="section-start" id="layouts">Layouts</h2>
        
        <p>Hero pathways can be used in <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }} >single column and two column pages</a>.</p>
        
        {% include layouts.html 
            single-col-fullwidth-visibility="true" 
            single-col-twothirds-visibility="true" 
            two-col-leftmenu-visibility="true" 
            two-col-rightsidebar-visibility="true" 
        %}
        
        <div class="layout-example single-col-fullwidth mt-0 mb-5 px-4 py-0">
            
            {% include layout-breakpoints-accordion.html 
                layout-name="onecol-fw"
            
                min1200-visibility="false"
                min992-visibility="true"
                min768-visibility="false"
                min576-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 576px"
            
                min992-img="'../assets/layout-images/hero-1colfullwidth-min992.png' | relative_url "
                min576-img="'../assets/layout-images/hero-1colfullwidth-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/hero-1colfullwidth-finalbp.png' | relative_url "
            
            
                min992-rules="<p>The content area is 12 grid-columns wide.</p><p>Large hero pathway tiles span 8 grid-columns. Small hero pathway tiles span 4 grid-columns</p>"
            
                min576-rules="<p>The content area is 12 grid-columns wide.</p><p>All hero tiles are equal width spanning 6 grid-columns each.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>All hero tiles are equal width spanning 12 grid-columns each.</p>"
                
            %}
            
        </div>
        
        
        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">
            
            {% include layout-breakpoints-accordion.html 
                layout-name="onecol-twothirdsw"    
            
                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="false"
                min576-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 576px"
            
                min1200-img="'../assets/layout-images/hero-1col2thirdswidth-min1200.png' | relative_url "
                min992-img="'../assets/layout-images/hero-1col2thirdswidth-min992.png' | relative_url "
                min576-img="'../assets/layout-images/hero-1col2thirdswidth-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/hero-1col2thirdswidth-finalbp.png' | relative_url "
            
                min1200-rules="<p>The content area is 7 grid-columns wide.</p><p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this layout should have an illustration included.</p>"
                
                min992-rules="<p>The content area is 8 grid-columns wide.</p><p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this layout should have an illustration included.</p>"
            
                min576-rules="<p>The content area is 9 grid-columns wide.</p><p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this layout should have an illustration included.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>All hero tiles are equal width spanning the full width of the content area.</p>"
                
            %}
            
        </div>
        
        
        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">
            
            {% include layout-breakpoints-accordion.html 
                layout-name="twocol-leftmenu"
                
                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="false"
                min576-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 576px"
            
                min1200-img="'../assets/layout-images/hero-2col-leftmenu-min1200.png' | relative_url "
                min992-img="'../assets/layout-images/hero-2col-leftmenu-min992.png' | relative_url "
                min576-img="'../assets/layout-images/hero-2col-leftmenu-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/hero-2col-leftmenu-finalbp.png' | relative_url "
            
    
                min1200-rules="<p>The content area is 7 grid-columns wide.</p><p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this layout should have an illustration included.</p>"
                
                min992-rules="<p>The content area is 8 grid-columns wide.</p><p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this layout should have an illustration included.</p>"
            
                min576-rules="<p>The content area is 9 grid-columns wide.</p><p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this layout should have an illustration included.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>All hero tiles are equal width spanning the full width of the content area.</p>"
                
            %}
            
        </div>
        
        
        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">
            
            {% include layout-breakpoints-accordion.html 
                layout-name="twocol-rightbar"
            
                min1200-visibility="false"
                min992-visibility="true"
                min768-visibility="false"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 992px"
            

                min992-img="'../assets/layout-images/hero-2col-rightsidebar-min992.png' | relative_url "
                finalbp-img="'../assets/layout-images/hero-2col-rightsidebar-finalbp.png' | relative_url "
            
        
                min992-rules="<p>The content area is 9 grid-columns wide.</p><p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this layout should have an illustration included.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>All hero tiles are equal width spanning the full width of the content area.</p>"
                
            %}
            
        </div>



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose: </h3>
        <p>Hero pathways enable the promotion of high-value internal content or services on the page.</p>
        <h3>When to use this component: </h3>
        <ul>
            <li>Used to promote or cross reference other high-value content or services on the website. </li>
            <li>Commonly used on the home and index pages to link to a list of other pages. </li>
            <li>They may also be used on content pages, but the link <strong>must</strong> be for a <a href="">priority 1 task.</a> </li>
        </ul>

            
        </div>
        
