.hero-pathway {
    border: 1px solid $bga-blue-border;
    display: flex;
    background: $bga-white;
    
    .arrow-icon {
        width: 48px;
        height: 48px;
        display: flex;
        background: $bga-blue-highlight-mid;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: 16px;
            height: auto;    
        }
    }
    
    .icon-wrapper {
        background: $bga-blue-background-extralight;
        border-radius: 50px;
        display: flex;
        align-items: center;
        
        p {
            padding: 4px 0 4px 8px;
            font-size: .88rem;
            line-height: 18px;
            font-weight: 600;
        }
    }
    
    .external-site {
        display: none;
    }
    
    &.border-purple {
        @include hero-color($bga-purple-highlight-dark, $bga-purple-highlight-mid, $bga-purple-highlight-light);
    }
    &.border-orange {
        @include hero-color($bga-orange-highlight-dark, $bga-orange-highlight-mid, $bga-orange-highlight-light);
    }
    &.border-green {
        @include hero-color($bga-green-highlight-dark, $bga-green-highlight-mid, $bga-green-highlight-light);
    }
    &.border-yellow {
        @include hero-color($bga-yellow-highlight-dark, $bga-yellow-highlight-mid, $bga-yellow-highlight-light);
    }
    &.border-teal {
        @include hero-color($bga-teal-highlight-dark, $bga-teal-highlight-mid, $bga-teal-highlight-light);
    }
    
    .component-content {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        border-left: 16px solid $bga-blue-border;
        
    }
    
    .component-image {
        width: 50%;
        flex-basis: auto;
        flex-grow: 0;
        display: block;
        
        img {
            object-fit: cover;
            height: 100%;
        }
    }
    
    &.external {
        .external-site {
            display: block;
        }
    }
    &:focus, &:hover {
        color: $bga-black;
        background: $bga-teal-tool-extra-light;
        
        .icon-wrapper {
            background: $bga-white;
        }
    }
    
    &.small-hero {
        width: calc(50% - 16px);
        
        .component-content {
            width: 100%;
        }
        .component-image {
            display: none;
        }
    }
    
}
.small-hero-wrapper {
    display: flex;
    justify-content: space-between;
}
.colour-options-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -16px;
    
    .hero-pathway {
        flex: 1 0 30%;
        margin: 0 16px 32px !important;
    }
}

// MOBILE display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-mobile, .component-example.small-screen {
    .hero-pathway {
        .component-content {
            border-left-width: 8px;
            width: 100%;
        }  
        .component-image {
            display: none;
        }
        
        &.small-hero {
            width: 100%;
        }
    }
    .small-hero-wrapper {
        display: block;
    }
}


// EXAMPLES on HTML demo pages.
.hero-examples-block {
    .small-hero {
        width: 100%;
    }
    
    @media (max-width: 991px) {
        .component-image {
            display: none;
        }
        .component-content {
            width: 100%;
            border-left-width: 8px !important;
        }
    }
}