.standard-pathway {
    border: 1px solid $bga-blue-border;
    background: $bga-white;
    max-width: 500px;
    display: block;

    &:focus,
    &:hover {
        color: $bga-black;
        background: $bga-blue-background-extralight;
    }
    &:active {
       border: 1px solid $bga-blue-border !important; 
    }

    .component-content {
        border-left: 8px solid $bga-blue-background-dark;

        p {
            font-weight: 400;
        }
    }

    .arrow-icon {
        width: 32px;
        height: 32px;
        display: flex;
        background: $bga-blue-background-dark;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 16px;
            height: auto;
        }
    }

}
    