<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    
    {% include header.html %}
    
    {% include page-header.html %}

    <div class="container ">

        <section class="body-content my-5">

        <div class="row">
            <div class="col-12 col-md-8 col-xl-9">
                
                <h2>Who should use the business.gov.au design system?
                </h2>
                <p>The design system provides guidance on the design elements used to create business.gov.au sites and tools. It is a flexible system of parts that combine to create consistent, user friendly products.</p>
                
                <p>This design system is for business.gov.au digital products only. Please email <a href="mailto:steph.grant@industry.gov.au">steph.grant@industry.gov.au</a> if you need approval to use this system.</p>
                
                
            </div>
        </div>
            
            

        </section>

    </div>


    {% include footer.html %}

</body>

</html>